.git
.github
.vscode
.idea

node_modules
dist
build
build-server

log
uploads
content

.env
.env.*
!.env.ci

docs
tests
playwright-report
test-results

*.md
LICENSE

Dockerfile
.dockerignore

coverage
.DS_Store
