# Yarn 2 without zero-installs
**/.yarn/*
!**/.yarn/patches
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/versions
**/.pnp.*

.env.local
tsconfig.tsbuildinfo
nohup.out

# Upload file directories
/uploads
/content

*.log
.idea
*.iml
node_modules
*.log.*
log
dist
/src/server/config-production.js
/src/server/revision.[jt]s
/src/client/revision.[jt]s
/src/server/revision.json
/src/client/revision.json
/build
/build-server
.env
deploy

# Prod DB dump file
prod.dump
