.splitRowGrid {
  display: grid;
  grid-template-columns: 2fr 1fr 100px 100px;
  gap: var(--mantine-spacing-xs);
  align-items: center;
  width: 100%;
}

.splitEditorGrid {
  display: grid;
  grid-template:
    "name   cat   cat"     auto
    "source sum   actions" auto
    / 1fr   120px auto;
  gap: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  align-items: center;
  width: 100%;

  & > :global(.name) { grid-area: name; }
  & > :global(.cat) { grid-area: cat; }
  & > :global(.source) { grid-area: source; }
  & > :global(.users) { grid-area: users; }
  & > :global(.sum) { grid-area: sum; }
  & > :global(.actions) { grid-area: actions; }
}

.footNote {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: scale(60%);
  transform-origin: bottom right;
}

.actionsCol {
  display: flex;
  justify-content: flex-end;
}
