.page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-8));
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

@media screen and (max-width: 576px) {
  .page {
    background-size: 150vh;
    background-position: center top;
  }
}
