html, body, #root {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

[tabindex] {
    outline: none !important;
}

.no-border {
    border: none !important;
}

/* Categories */

.category-table-row {
    height: 41px !important;
    display: flex;
    border-top: 1px solid rgb(224, 224, 224);
    white-space: nowrap;
    align-items: center;
}
.category-table-time-select { height: 61px !important; }
.bk-table-data-area {
    overflow-y: auto;
    overflow-x: hidden;
}
.expense-data-area {
    padding-top: 32px;
    padding-bottom: 130px;
}

.expense-data-area > div:last-of-type .bk-table-row {
    border-bottom: 1px solid rgb(224, 224, 224);
}
.category-table-row > div {
    padding: 0 1em;
}
.category-table-row > .category-name { flex-grow: 1; }
.category-table-row > .category-tools { width: 8em; text-align: right; }

.Axis .domain {
    display: none;
}
.Axis  line {
    stroke: #E0E0E0;
}
.Axis-Bottom .tick line {
    display: none;
}

.bk-table-row.header,
.category-table-header {
    font-weight: 600;
}
.expense-detail {
    margin: 0em 0.4em;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: baseline;
}
.expense-detail.date {
    width: 3.2em;
    text-align: right;
    flex-shrink: 0;
    flex-grow: 0;
}
.expense-detail.status-description { flex-grow: 1; width: 10em; min-width: 5em; margin-left: 1em; }
.expense-detail.status-label       { width: 6em; min-width: 3em; }
.expense-detail.status-sum         { width: 6em; min-width: 3em; text-align: right; }
.expense-detail.title       { flex-grow: 1; width: 10em; min-width: 5em; }
.expense-detail.receiver    { flex-grow: 1; width: 10em; min-width: 5em; }
.expense-detail.category    { flex-grow: 1; width: 15em; min-width: 2em; }
.expense-detail.source      { width:  3.1em;  }
.expense-item > .expense-detail.source { margin-top: 0.7em; margin-bottom: 0.2em; }
.expense-detail.sum,
.expense-detail.balance     { width:  5em; text-align: right; }
.expense-detail.sum         { width: 6em; min-width: 5em; }
.expense-detail.user {
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 0.6em;
    margin-bottom: 0.4em;
    width: 32px;
}
.expense-detail.tools {
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
    width: 81pt;
    min-width: 81pt;
}
.expense-detail.total-label { flex-grow: 1; text-align: right; }
.expense-detail.total-sum   { width: 6em; }

.expense-recurrence {
    display: inline-block;
    float: right;
}

/** Expense division */
.details-loading-indicator {
    position: relative;
    height: 60pt;
    left: 50%;
}

.expense-user {
    padding-left: 4.5em;
    text-align: left;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}
.expense-division-item {
    margin: 0.4em 1em;
    display: inline-block;
}
.expense-division-item > .label {
    display: inline-block;
    text-align: right;
    width: 6em;
}
.expense-division-item > .sum {
    display: inline-block;
    text-align: right;
    width: 6em;
}

.error-text {
    position: relative;
    top: 5px;
    padding-left: 24px;
    font-size: 12px;
    line-height: 12px;
    color: rgb(244, 67, 54);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.expense-dialog .expense-confirmed,
.expense-dialog .expense-type {
    margin-top: 1em;
}

.loading-indicator-big {
    position: absolute;
    left: 50%;
    top: 50%;
}

.avatar-placeholder {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.mobile {
    display: none;
}


@media (max-width: 600px) {

    .optional {
        display: none !important;
    }

    .bk-table-row {
        height: 32px !important;
    }

    .expense-table-start-status { bottom: 64px; }
    .expense-table-month-status { bottom: 32px; }
    .expense-data-area {
        padding-top: 33px;
        padding-bottom: 130px;
        top: 64px;
        bottom: 64px;
    }

    .expense-detail {
        margin: 0.5em 0.4em;
    }
    .expense-detail.date { width: 3.3em; }
    .expense-detail.tools { width: 36px; min-width: 36px; }
    .expense-detail.description { min-width: 5em; }

    .expense-detail-mobile {
        display: block;
        padding-left: 1em;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }
    .expense-detail-mobile .detail-label {
        display: inline-block;
        width: 5.5em;
    }

    .expense-dialog {
        width: 100% !important;
        transform: none !important;
    }

    .expense-dialog-body {
        max-height: calc(100vh - 10em) !important;
    }

    .expense-user {
        padding-left: 1em;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }

    .expense-division-item {
        margin: 0.1em 0.3em;
        display: inline-block;
    }

    .Axis-Bottom text {
        transform: rotate(-45deg);
        text-anchor: end;
    }

    .category-table-time-select {
        height: 61px !important;
    }
}
