html, body {
    font-family: Roboto, sans-serif;
}

.user-avatar.unselected {
    filter: grayscale(100%) opacity(40%) blur(1px);
}
.user-avatar.selected {
    -moz-box-shadow:    0 0 4px 2px #748dac;
    -webkit-box-shadow: 0 0 4px 2px #748dac;
    box-shadow:         0 0 4px 2px #748dac;
}
