.container {
  display: flex;
  flex-direction: column;
  min-width: 188px;
  white-space: nowrap;
}

.panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4px;
}

.tabButtonSelected {
  border: 1px dotted var(--mantine-color-primary-2);
  background-color: color-mix(in srgb, var(--mantine-color-primary-2) 47%, transparent);
  color: var(--mantine-color-primary-9);
}
