.editorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: light-dark(rgba(0, 0, 0, 0.04), rgba(255, 255, 255, 0.06));
  border-radius: var(--mantine-radius-sm);
  padding: 0 5px;
  margin: -6px;

  & > div {
    flex: 1;
    min-width: 0;
    padding-right: var(--mantine-spacing-xs);

    & * {
      height: auto;
      line-height: inherit;
    }
  }

  & > svg {
    padding-right: var(--mantine-spacing-xs);
  }
}

.valueContainer {
  cursor: pointer;
}
