.bar {
  height: 3px;
  margin-bottom: -3px;
  width: 100%;
  background: var(--mantine-color-primary-5);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: var(--mantine-color-primary-3);
  animation: slide 1.2s ease-in-out infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(-100%);
  }
}
