.footer {
  border-top: 1px solid var(--mantine-color-default-border);
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
}

.topBorder {
  border-top: 1px solid var(--mantine-color-default-border);
}
