.footer {
  border-top: 1px solid var(--mantine-color-default-border);
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--mantine-color-surface-1);
}

.topBorder {
  border-top: 1px solid var(--mantine-color-default-border);
}
