.weekDay {
  padding-right: 4px;
  font-weight: bold;
}

.colDate {
  width: 72px;
}
.colTools {
  width: 96px;
  white-space: nowrap;
}
.iconToolArea > svg,
.iconToolArea > div {
  margin-left: 4px;
}

@media (max-width: 48em) {
  .colDate { width: 48px; }
  .colTools { width: 36px; }
}
