.expenseTable {
  td, th {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.recurringIcon {
  position: absolute;
  top: 0;
  left: 0;
  background-color: light-dark(var(--mantine-color-neutral-1), var(--mantine-color-neutral-4));
  padding: 3px 4px 4px 3px;
  border-bottom-right-radius: var(--mantine-radius-sm);
}