body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    background-color: #f5f5f6;
}
 
#root {
    width: 100%;
}

.react-autosuggest__container {
    width: 100%;
    box-sizing: border-box;
}

.react-autosuggest__suggestions-list {
    padding-inline-start: 0;
}

.react-autosuggest__suggestion {
    list-style-type: none;
}
